
/*
    C r e a t e   a c c o u n t   p a g e
*/

.completion-compte{
	width: 100%;
}

.head-banner{
	width: 100%;
}

.head-banner img{
	width: 100%;
}

.completion-compte .modal-form{
	position: absolute;
	background: var(--grey-2);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 40px;
	color: var(--white-ish-1);
	border-radius: 10px;
	box-shadow: 0 20px 7px 0 #0008;
}

.completion-compte .modal-content{
	width: 28em;
}


.completion-compte .label-input{
	width: 15em;
	height: max-content;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 2.7em 1fr;
}

.completion-compte .label-input .label{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--white-ish-1);
}

.completion-compte .modal-form input{
	height: 2.7em;
	padding: 0 10px;
	background: var(--grey-3);
	border: none;
	border-radius: 5px;
	color: var(--white-ish-1);
}

.completion-compte .input input{
	width: -webkit-fill-available;
}

.completion-compte .spacer{
	width: 5em;
}

.completion-compte .form-title{
	text-align: center;
	font-variant-caps: all-small-caps;
}

.completion-compte .form-grid{
	display: grid;
	grid-template-columns: 2fr 5fr;
	margin: 10px auto;
}

.completion-compte .form-grid .label{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.completion-compte .form-grid .input{
	display: flex;
	flex-shrink: 1;
	flex-basis: 100%;
}

.completion-compte .form-grid .input input{
	width: 100%;
}

.completion-compte .form-grid .input input[name='city-2']{
	width: 50%;
}

.completion-compte .input select{
    height: 2.5em;
    background: var(--grey-3);
    border-radius: 5px;
    border: none;
    width: 100%;
}

.completion-compte .label-input{
	width: 14em;
	height: max-content;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 2fr 6fr;
}

.completion-compte .label-input div.label{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--yellow-ish-1);
}

.completion-compte .label-input .label+input{
	border-radius: 0 5px 5px 0;
	width: 100%;
}

.label img+label{
	margin-left: 10px;
}

.denied{
	position: absolute;
	background: var(--pink-ish-1);
	color: var(--white-ish-1);
	border-radius: 10px;
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 150%);
	width: max-content;
}

.invisible{
	opacity: 0;
	transition: .2s;
	pointer-events: none;
}

#file-upload{
	display: none;
}

.completion-compte .label-upload{
	display: inline-block;
	cursor: pointer;
	background: var(--grey-3);
	font-size: .8em;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.completion-compte .label-input.uploader{
	width: 15em;
	height: 3em;
}

.completion-compte .label-input.uploader .label label{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.completion-compte .form-button{
	background: var(--brownish-2);
	padding: 10px 50px;
	font-variant-caps: all-small-caps;
	color: var(--white-ish-1);
	border: none;
	font-size: 1.2em;
	border-radius: 10px;
	margin: 30px auto;
	display: block;
	cursor: pointer;
	letter-spacing: .2em;
    width: max-content;
    transition: .4s;
}