/*
    C r e a t e   a c c o u n t   p a g e
*/

.creation-compte{
	width: 100%;
}

.head-banner{
	width: 100%;
}

.head-banner img{
	width: 100%;
}

.modal-form{
	position: absolute;
	background: var(--grey-2);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 30px 40px;
	color: var(--white-ish-1);
	border-radius: 10px;
	box-shadow: 0 20px 7px 0 #0008;
    overflow: hidden;
}

.modal-content{
	width: 28em;
}


.creation-compte .label-input, .creation-compte .label-input.half{
	width: 15em;
	height: max-content;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 2.7em 1fr;
}

.creation-compte .label-input .label{
    height: 100%;
}

.creation-compte .label-input .label{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--white-ish-1);
}

.creation-compte .label-input .label label{
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-form input{
	height: 2.7em;
	padding: 0 10px;
	background: var(--grey-3);
	border: none;
	border-radius: 0 5px 5px 0;
	color: var(--white-ish-1);
}

.creation-compte .form-line{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-basis: 100%;
	flex-grow: 1;
	gap: 20px;
}

.creation-compte .form-line>*{
	width: 100%;
}

.input input{
	width: -webkit-fill-available;
    width: -moz-available;
}

.spacer{
	width: 5em;
}

.form-title{
	text-align: center;
	font-variant-caps: all-small-caps;
}

.creation-compte .form-line+.creation-compte .form-line .half{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.half input[type="checkbox"]{
	width: 1.5em;
}

.spacer+.half>input{
	border-radius: 5px;
}

.spacer+.half>input:focus{
    box-shadow: 0px 0px 7px 0px #fff;
}

.creation-compte .label-input .label{
	border-radius: 5px 0 0 5px;
	background: var(--grey-3);
}

.creation-compte .label-input{
    border-radius: 5px;
    width: 100%;
}

.creation-compte .form-button{
	background: var(--brownish-2);
	padding: 10px 50px;
	font-variant-caps: all-small-caps;
	color: var(--white-ish-1);
	border: none;
	font-size: 1.2em;
	border-radius: 10px;
	margin: 30px auto;
	display: block;
	cursor: pointer;
	letter-spacing: .2em;
    width: max-content;
    transition: .4s;
}

.creation-compte .form-button:hover{
    font-weight: 500;
    transition: .4s;
}

.bottom-im{
    position: absolute;
    bottom: -10px;
    left: -10px;
    z-index: -1;
}

.creation-compte .half{
    display: flex;
    align-items: center;
}
