.header{
	width: 100%;
	color: var(--white-ish-1);
}

img.header-banner{
	width: 100%;
}

.header-bar{
	display: flex;
	justify-content: space-between;
	padding: 10px 3em;
	align-items: center;
}

.header-bar .left{
	float: left;
}

.header-bar .right{
	float: right;
}

.left, .right{
	display: flex;
	align-items: center;
}

.vertical-dots{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 1em;
	cursor: pointer;
	position: relative;
	align-self: stretch;
}

.dot{
	width: 5px;
	height: 5px;
	background: var(--white-ish-1);
	border-radius: 50%;
	margin: 3px;
}

.avatar{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--yellow-ish-1);
	width: 3em;
	height: 3em;
	border-radius: 50%;
	cursor: pointer;
}

.user-name{
	display: flex;
	align-items: center;
	margin: auto 1.5em;
	font-weight: 800;
}

.crumb{
	color: var(--yellow-ish-1);
	padding: 0 2em;
	border-left: 2px solid var(--yellow-ish-1);
	height: 100%;
	font-size: 1.2em;
}

.date{
	font-size: 1.5em;
	padding-right: 3em;
}

.hidden-menu{
	/* display: none; */
	position: absolute;
	bottom: 0;
	right: 0;
	width: max-content;
	transform: translate(0, calc(100% - 1px));
	box-sizing: border-box;
	padding: 0 2em;
	box-shadow: 0 5px 5px 0 #222;
	border: 1px solid var(--white-ish-1);
	z-index: 3;
	background: var(--grey-4);
}

.hidden-menu ul{
	list-style-type: none;
	padding: 0;
}

.hidden-menu .menu-list .menu-item{
	padding: .7em 1.5em;
	cursor: pointer;
	position: relative;
}

.menu-item::after{
	content: '';
	display: block;
	width: 0%;
	height: 4px;
	background: var(--white-ish-1);
	position: absolute;
	bottom: 0;
	left: 0;
	transition: inherit;
}

.menu-item:hover::after{
	width: 100%;
	transition: inherit;
}

.hidden-menu .menu-list .menu-item:hover{
	transition: .4s;
}

.borderer{
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid var(--white-ish-1);
	border-bottom: 1px solid var(--grey-4);
	z-index: 4;
}