

.container-single{
	margin: auto;
	width: max-content;
}


/*
    C o n n e c t i o n   p a g e
*/


.connection-form-container{
	width: max-content;
	margin: auto;
}

.connection-form-container input{
	background: var(--grey-1);
	border: none;
	height: 4em ;
}

.connection-form-container .label-input label{
    display: flex;
}

.label-input svg{
    margin: auto;
}

.label-input{
	width: 15em;
	height: max-content;
	margin: 10px auto;
	display: grid;
	grid-template-columns: 1fr 5fr;
}

.label-input:not(.uploader):focus-within{
    box-shadow: 0px 0px 7px 0px #fff;
}

.label-input div{
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--white-ish-1);
}

.label-input input{
	padding: 0 10px;
}

.label-input input:focus{
    outline: none;
}

.form-button{
	width: 100%;
	border: 2px solid transparent;
	background: var(--brownish-1);
	color: var(--white-ish-1);
	font-variant-caps: all-small-caps;
	display: block;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	height: 2.5em;
	margin: 10px auto;
	border-radius: 5px;
    transition: .4s;
}

.form-button:hover{
    background: var(--brownish-2);
    font-weight: 800;
    transition: .4s;
}

.logo-dacmi img{
    width: 24em;
}

.invisible{
	display: none;
}